.footer{
    background-color: #222428;
    color: white;
    padding: 20px;
    text-align: center;
}
.footer-header{
    margin-bottom: 20px;
    font-size: 26px;
}
.footer-link{
    font-weight: 300;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.footer-link a{
    text-decoration: none;
    font-size: 12px;
    color: white;
    
}
.footer-link a:hover{
    color: #a986fd;
}
.social{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.social-icons {
   margin: 0 20px;
  font-size: 22px;
  color: #a986fd;
  cursor: pointer;
}

.social-icons:hover {
  color: #a986fd;
}
.footer-text{
    font-size: 10px;
}